!/output_stickers/
!/stickers_512/
!/temp/
!/stickers_512/
!/.env
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/stickers_512/01_nerd_glasses.png
/stickers_512/02_heart_eyes.png
/stickers_512/03_rage_scream.png
/stickers_512/04_mona_lisa.png
/stickers_512/05_cat_ears.png
/stickers_512/06_astronaut.png
/stickers_512/07_cowboy.png
/stickers_512/08_cry_river.png
/stickers_512/09_king.png
/stickers_512/10_pixel.png
/.idea/misc.xml
/.idea/workspace.xml
!/output_stickers/
!/temp/
